<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>acada-web-snapshot</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
            <!-- <url>${repo.snap-url}</url> -->
        </server>
        <server>
            <id>acada-web-release</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
            <!-- <url>${repo.rel-url}</url> -->
        </server>
    </servers>
</settings>